<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bithumb</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bithumb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game:scoreboard' %}">Scoreboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'forum:all_forums' %}">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'invest:itemshop' %}">Item Shop</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'invest:invest' %}">Invest</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account:myprofile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}">Log out</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="body col-lg-12 mt-4 py-4">
            <h1>About Us</h1>
            <h3>Game</h3>
            <p>
                Bithumb is a place to try and learn about Bitcoin! Play the <a href="{% url 'index' %}">game</a> to earn in-game currency (as USD), and try
                your hand at <a href="{% url 'invest:invest'%}">investing</a> in "Bitcoin" using real-time exchange rates of actual Bitcoin. See if you can
                earn all of the <a href="{% url 'invest:itemshop' %}">collectibles</a>
                or make the <a href="{% url 'game:scoreboard'%}">highscores</a>!
            </p>
            <h3>Forum</h3>
            <p>
                Wanna see who else wants to learn about Bitcoin? Is there something you don't understand? Check out our <a href="{% url 'forum:all_forums' %}">forums</a> to talk to others.
            </p>
        </div>
    </div>
</div>

<div class="container">
    &nbsp
    <div class="row">
        <h3>Special Thanks to...</h3>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        <div class="col">
            <img src="https://assetsv2.fiverrcdn.com/assets/v2_globals/fiverr-logo-green-42ceb28536932bff125c8d478bec1c56.svg" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://digitalstory.tools/wp-content/uploads/sites/2/2016/10/Schermafbeelding-2016-10-05-om-12.57.44.png" style="width:150px; height:100px">
        </div>
        <div class="col">
            <img src="https://matplotlib.org/_static/logo2.png" style="width:150px; height:100px">
        </div>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        <div class="col">
            <img src="https://pbs.twimg.com/profile_images/972154872261853184/RnOg6UyU_400x400.jpg" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png" style="width:150px; height:100px">
        </div>
        <div class="col">
            <img src="https://bitcoin.org/img/icons/opengraph.png" style="width:100px; height:100px">
        </div>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        <div class="col">
            <img src="https://getbootstrap.com/assets/img/bootstrap-stack.png" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://d1eq8vvyuam4eq.cloudfront.net/css_logo.svg" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" style="width:100px; height:100px">
        </div>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        <div class="col">
            <img src="https://www.javatpoint.com/images/javascript/javascript_logo.png" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://iotcube.korea.ac.kr/assets/images/index.png" style="width:150px; height:100px">
        </div>
        <div class="col">
            <img src="https://tools.pingdom.com/fpt/_img/share-logo.png" style="width:100px; height:100px">
        </div>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="row">
        <div class="col">
            <img src="http://www.techspire.net/wp-content/uploads/2016/11/python-django-logo.jpg" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://www.scirra.com/images/c3logo-lightbg.svg" style="width:100px; height:100px">
        </div>
        <div class="col">
            <img src="https://vignette.wikia.nocookie.net/trollpasta/images/d/da/BLANK.png/revision/latest?cb=20111224232108" style="width:100px; height:100px">
        </div>
    </div>

</div>

<div class="footer mt-4 py-4" style="background:#dae0e5; height: 200px; color: #000000;">
    <div class="container">
        <div class="row">
            <h3>University of Regina</h3>
        </div>
        <div class="row">
            <h5>Computer Science Dept.</h5>
        </div>
        <div class="row">
            <h7> CS476 Group Proj. by C. Myers & J. Shin</h7>
        </div>
    </div>
</div>

</body>
</html>