<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bithumb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bithumb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scoreboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Item Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signup
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-3">
                        <div class="my-3">
                            <h3>Sign Up</h3>
                        </div>
                        <form action="" style="width: 300px;">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="verify password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark float-right">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3">
                    <div class="my-3">
                        <h3>Login</h3>
                    </div>
                    <form action="" style="width: 300px;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark float-right">Login</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">.
    <div class="row">
        <div class="body col-lg-12 mt-4 py-4">
            <h1>About Us</h1>
            <p>Cryptocurrency is a digital asset that is starting to gain popularity in the public.
            However, there are many that do not understand the complexities of these non-traditional currencies.
            Concepts such as decentralization, generation, and (the most appealing) investing can be confusing and too technical
            for most lay people to understand.</p>

            <p>To show how bitcoin and other cryptocurrencies actually work (on a rudimentary level), we are proposing a simple
                game as an introduction to cryptocurrencies. To establish the virtual environment, we are going to make two
                parts in our project: the mining game and simple investment procedure. There are various way to obtain
                cryptocurrency, one way that many people are interested in is mining. Therefore, we are going to simplify the
                mining process as an arcade game, where users “mine” to earn in-game currency by playing. In cryptocurrency
                mining, as time goes, the difficulty escalates, as we will attempt to mimic with the arcade game difficulty.</p>

            <p>After earning in-game currency, users are able to purchase in-game add-ons, such as new backgrounds or new
                characters. Additionally, users can “invest” in some cryptocurrency with a relative exchange rate. This way,
                users can simulate investing in cryptocurrency -- while earning (or losing) in-game currency -- with no
                real-life risk.
            </p>
        </div>
    </div>
</div>
<div class="footer mt-4 py-4" style="background:#dae0e5; height: 200px; color: #000000;">
    <div class="container">
        <div class="row">
            <h3>University of Regina</h3>
        </div>
        <div class="row">
            <h5>Computer Science Dept.</h5>
        </div>
        <div class="row">
            <h7> CS476 Group Proj. by C. Myers & J. Shin</h7>
        </div>
    </div>
</div>

</body>
</html>
