Here is a specfic forum.<br/ ><br/>

<!-- TODO: maybe use the truncation thing for long titles -->
title; {{ forum.title }}<br/><br/>

posted by: {{ forum.poster }}<br/><br/>

{% if forum.description %}
description: {{ forum.description }}<br/><br/>
{% endif %}

posted at: {{ forum.time }} <br/><br/>

And here are all of its comments:<br/><br/>

{% for comment in forum.comments_set.all %}

    {{ comment.text }}<br/><br/>

    posted by: {{ comment.user }}<br/><br/>

    posted at: {{ comment.time }}<br/><br/>

{% endfor %}

{% if request.user.is_authenticated %}
And here is a form for new comments:<br /><br />
<form method="POST" action="" style="width: 300px;">
{% csrf_token %}
{{ comment_form.as_p }}
<button type="submit">Post</button>
</form>
{% endif %}
